input {
    font-size: 1.2rem;
    font-family: var(--accentfont);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
    background-color: #EAF3FF;
}

input:focus::placeholder {
    color: transparent;
}

textarea {
    font-size: 1.2rem;
    font-family: var(--accentfont);
    width: 100%;
    min-height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
}

textarea:focus {
    background-color: #EAF3FF;
}

textarea:focus::placeholder {
    color: transparent;
}

button {
    float: right;
    font-size: 1.2rem;
    font-family: var(--accentfont);
    background-color: var(--buttonfill);
    border: 1px solid var(--buttonborder);
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
}

.form_div {
    float: left;
    width: 420px;
    text-align: center;
    margin-left: calc(50% - 210px);
}

@media screen and (max-width: 800px) {
    .form_div {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}