:root {
    --accent: #972177;
    --darkpurple: #3A234D;
    --chartblue: #EAF3FF;
    --backgroundgrey: #F0EFF0;
    --accentfont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --buttonborder: #3079ED;
    --buttonfill: #5493DE;
    --boxbordercolor: #DFE1E5;
    --warningred: #962321;
    --darkgrey: #202020;
    --margin: 35px;
}

@media screen and (max-width: 450px) {
    :root {
        --margin: 20px;
    }
}


footer {
    padding-left: var(--margin);
    padding-right: var(--margin);
    padding-top: 15px;
    bottom: 0px;
    width: calc(100% - (2 * (var(--margin))));
    background-color: var(--darkgrey);
    color: white;
    font-family: var(--accentfont);
    text-align: center;
    line-height: 1.5;
    color: var(--backgroundgrey);
}

footer a {
    text-decoration: none;
    color: var(--backgroundgrey);
}

footer a:hover {
    text-decoration: underline;
}

.legal {
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-left: calc(0 - (var(--margin)));
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    color: grey;
    font-size: 80%;
}

@media screen and (max-width: 450px) {
    .legal {
        display: none;
    }
}

.legal2 {
    padding-top: 10px;
    display: none;
}

@media screen and (max-width: 450px) {
    .legal2 {
        display: block;
        text-align: center;
    }
}

.ft_ul {
    list-style: none;
    padding-left: 0;
    font-size: 85%;
}

.ft_title {
    margin-bottom: -.5em;
    font-weight: bold;
}