/*Global*/
:root {
    --accent: #972177;
    --darkpurple: #3A234D;
    --chartblue: #EAF3FF;
    --backgroundgrey: #F0EFF0;
    --accentfont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --buttonborder: #3079ED;
    --buttonfill: #5493DE;
    --boxbordercolor: #DFE1E5;
    --warningred: #962321;
    --darkgrey: #202020;
}

body {
    margin: 0;
    font-size: 24px;
    max-width: 2200px;
}

.read_here_button {
    float: left;
    font-size: 1.2rem;
    font-family: var(--accentfont);
    background-color: var(--buttonfill);
    border: 1px solid var(--buttonborder);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.mainbody {
    min-height: calc(100vh - 112px);
    margin-bottom: 35px;
}

.accentline {
    height: .3em;
    width: 3.5em;
    background-color: var(--accent);
}

.accentbox {
    padding: 20px;
    background-color: var(--chartblue);
}

@media screen and (max-width: 800px) {
    .accentbox {
        padding: 35px;
    }
}

.ad {
    background-color: white;
}

.ad:after {
    content: "";
    display: table;
    clear: both;
}

.adbox {
    float: left;
    margin-top: 35px;
    padding: 20px;
    background-color: var(--backgroundgrey);
    margin-left: 35px;
    width: calc(100% - 70px - 40px);
    margin-bottom: 35px;
}

@media screen and (max-width: 800px) {
    .adbox {
        padding: 35px;
        margin-left: 0px;
        width: calc(100% - 70px);
    }

}

.research_ad_img {
    float: left;
    width: 25%;
    margin-left: 17.5%;
    box-shadow: 5px 5px lightgrey;
}

.research_ad_text {
    float: left;
    width: 35%;
    margin-left: 5%;
}

@media screen and (max-width: 800px) {
    .research_ad_img {
        width: 100%;
        max-width: 500px;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .research_ad_text {
        margin-left: 0px;
        width: 100%;
    }
}

/*Google Icons*/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48;
    float: right;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Dropcap*/
.dropcap {
    color: var(--accent);
    float: left;
    font-family: Georgia;
    font-size: 70px;
    line-height: 60px;
    padding-right: 8px;
    margin-bottom: -6px;
}

/*End text marker*/
.fin {
    color: var(--accent);
}

/*Header and footer*/
.header {
    background: var(--darkpurple)
}

.header_content {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header_text {
    margin-left: 35px;
    margin-right: 35px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

.header_bottom {
    background: var(--accent);
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: var(--accentfont)
}

.header_bottom_text {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 1.5em;
}

.header_text_disappear {
    display: inline;
}

@media screen and (max-width: 420px) {
    .header_text_disappear {
        display: none;
    }
}

/*Middle text column*/
.middle_text_column {
    left: 0%;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 800px) {
    .middle_text_column {
        left: 0%;
        margin-left: 35px;
        margin-right: 35px;
    }
}

/*Homepage columns*/
/*Featured articles*/
.leftcolumn {
    float: left;
    width: calc((100% - 140px)/2);
    padding-left: 35px;
}

.middlecolumn {
    float: left;
    width: calc((100% - 140px)/4);
    padding-left: 35px;
}

.rightcolumn {
    float: left;
    width: calc((100% - 140px)/4);
    padding-left: 35px;
}

@media screen and (max-width: 800px) {

    .leftcolumn,
    .middlecolumn {
        width: calc(100% - 70px);
        padding-left: 35px;
    }

    .rightcolumn {
        width: calc(100%);
        padding-left: 0;
    }
}

/*End of a column*/
.row {
    margin-top: 35px;
}

@media screen and (max-width: 800px) {
    .row {
        margin-top: 0px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Homepage fonts*/
.home_image {
    width: 100%;
    margin-left: 0px;
}

.home_title {
    font-weight: 100;
    text-align: left;
    color: black;
}

.home_title:hover {
    color: var(--accent);
}

.home_description {
    margin-top: -1%;
    text-align: left;
    color: grey;
    font-size: 85%;
    font-family: var(--accentfont);
}

.home_timestamp {
    margin-bottom: 2rem;
    text-align: left;
    color: grey;
    font-size: 70%;
    font-family: var(--accentfont);
}

@media screen and (max-width: 800px) {
    .home_title {
        text-align: center;
    }

    .home_description {
        text-align: center;
    }

    .home_timestamp {
        text-align: center;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: var(--accent);
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48;
}

.cards_margin {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
}

.cards {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: grid;
    gap: 35px;
}

.card {
    background-color: none;
    color: white;
    padding: 0px;
    height: auto;
    text-decoration: none;
    color: black;
}

.card:hover {
    color: var(--accent);
    text-decoration: none;
}

.card_title {
    margin: 0%;
}

@media (max-width: 599px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

#menu {
    display: none;
}

.menu_button {
    float: right;
    border: none;
    padding: 0px;
    background-color: var(--darkpurple);
    font-weight: 500;
    line-height: 1.2em;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.blog_div {
    width: 100%;
    margin-bottom: 35px;
}

.blog_main {
    left: 0%;
    margin-left: 28%;
    margin-right: 28%;
}

@media screen and (max-width: 800px) {
    .blog_main {
        left: 0%;
        margin-left: 35px;
        margin-right: 35px;
    }
}

.blog_title {
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-weight: 100;
}

@media screen and (max-width: 800px) {
    .blog_title {
        text-align: center;
        margin-left: 35px;
        margin-right: 35px;
    }
}

.blog_description {
    text-align: center;
}

.blog_meta_data {
    font-size: 70%;
    margin-top: 35px;
    font-family: var(--accentfont);
    text-align: center;
}

.blog_type {
    color: var(--accent);
    font-size: 70%;
    margin-top: 35px;
    margin-bottom: -10px;
    font-family: var(--accentfont);
    text-align: center;
}

.blog_thumbnail {
    width: 100%;
}

.blog_image_float_left {
    float: left;
    width: calc(50% - 10px);
    margin-right: 20px;
}

@media screen and (max-width: 800px) {
    .blog_image_float_left {
        float: none;
        width: 100%;
    }
}

.research_page_layout {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

@media screen and (max-width: 800px) {
    .research_page_layout {
        flex-direction: column;
        width: 100%
    }
}

.research_page_layout_thumbnail {
    width: 40%;
}

.research_page_layout_abstract {
    width: 60%;
}

@media screen and (max-width: 800px) {
    .research_page_layout_thumbnail, .research_page_layout_abstract{
        width: 100%;
    }
}

.research_page_layout_img {
    width: 100%;
    box-shadow: 5px 5px lightgrey;
}

@media screen and (max-width: 800px) {
    .research_page_layout_img {
        max-width: 500px;
    }
}

.research_main {
    left: 0%;
    min-height: calc(100vh - 112px);
    margin-bottom: 35px;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 800px) {
    .research_main {
        left: 0%;
        margin-left: 35px;
        margin-right: 35px;
    }
}


.page_description {
    text-align: center;
    font-family: var(--accentfont);
}

.chart_animation_full_width {
    width: 44%;
}

@media screen and (max-width: 800px) {
    .chart_animation_full_width {
        width: calc(100% - 70px);
        margin-left: 35px;
        margin-right: 35px;
    }
}


.full_width_blue {
    width: 100%;
    background-color: var(--chartblue);
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}


.page_description_2 {
    margin-bottom: 2rem;
    text-align: center;
    color: grey;
    font-size: 70%;
    font-family: var(--accentfont);
}


.cookietable {
    font-family: var(--accentfont);
    font-size: 90%;
    padding: 10px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.cookietable, .cookieth, .cookietd {
    border: 2px solid white;
    border-collapse: collapse;
}

.cookieth, .cookietd {
    text-align: left;
    background-color: var(--chartblue);
    padding: 10px;
}

.cookie-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 70%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--darkgrey);
    color: var(--backgroundgrey);
    padding: 35px;
}

@media screen and (max-width: 800px) {
    .cookie-container {
        flex-direction: column;
    }
}

.cookie-container a {
    color: var(--backgroundgrey);
}

.cookie-btn {
    float: right;
    font-family: var(--accentfont);
    background-color: var(--buttonfill);
    border: 1px solid var(--buttonborder);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}