:root {
    font-family: 'Times New Roman', Times, serif;
    --accent: #972177;
    --darkpurple: #3A234D;
    --chartblue: #EAF3FF;
    --backgroundgrey: #F0EFF0;
    --accentfont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --buttonborder: #3079ED;
    --buttonfill: #5493DE;
    --boxbordercolor: #DFE1E5;
    --warningred: #962321;
    --darkgrey: #202020;
    --margin: 35px;
    --bordercolor: #E0E3EB;
    --linkblue: #3b71c9;
    --header-height: 137.6px;
    --maxwidth: 1500px;
}

@media screen and (max-width: 450px) {
    :root {
        --margin: 20px;
    }
}

body {
    font-size: 24px;
    margin: 0 auto !important;
}

/* max-width 1500px settings*/

@media screen and (min-width: 1570px) {

    .header_text,
    .legal,
    .home_maxwidth {
        max-width: 1500px;
        margin: 0 auto !important;
        float: none !important;
    }
}

@media screen and (min-width: 1570px) {

    .ec_cards,
    .uc_cards,
    .home_maxwidth {
        max-width: 1570px;
        margin: 35px auto !important;
        float: none !important;
    }
}

@media screen and (min-width: 1500px) {

    .mainbody,
    .blog_div,
    .full_width_chart_div,
    .blog_header_div {
        max-width: 1500px;
        margin: 0 auto !important;
        float: none !important;
    }
}

/* max width settings end */

hr {
    border: none;
    border-bottom: 2px solid var(--bordercolor);
}

.read_here_button {
    float: left;
    font-size: 1.2rem;
    font-family: var(--accentfont);
    background-color: var(--buttonfill);
    border: 1px solid var(--buttonborder);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.mainbody {
    min-height: calc(100vh - 112px);
    margin-bottom: 35px;
}

.accentline {
    height: .3em;
    width: 3.5em;
    background-color: var(--accent);
}

.accentbox {
    padding: 20px;
    background-color: var(--chartblue);
}

@media screen and (max-width: 800px) {
    .accentbox {
        padding: var(--margin);
    }
}

/*Advert new*/

.advert_box1 {
    margin: var(--margin);
    margin-bottom: calc((var(--margin)) + 2rem);
    height: fit-content;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    padding-left: var(--margin);
    padding-right: var(--margin);
    background-color: var(--backgroundgrey);
    width: calc(100% - (4*(var(--margin))));
    display: grid;
    gap: var(--margin);
    border: 2px solid rgb(233, 233, 233);
}

.research_mainpage .advert_box1 {
    background-color: white;
    border: none;
    padding: 0em 0em var(--margin);
    width: calc(100% - (2*(var(--margin))));
    border-bottom: 2px solid var(--bordercolor);
}

.advert_box1:hover h3 {
    color: var(--accent);
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.advert_image1 {
    width: 100%;
    box-shadow: 5px 5px lightgrey;
}

.research_mainpage .advert_image1 {
    width: 100%;
    border: 1px solid var(--bordercolor);
    box-shadow: 5px 5px lightgrey;
}

@media (max-width: 599px) {
    .advert_box1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .advert_image_div1 {
        height: 100%;
    }
}

@media (min-width: 600px) {
    .advert_box1 {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-template-rows: 100%;
        margin-top: var(--margin);
    }

    .advert_text_div1 .home_description {
        margin-bottom: 0px;
    }

    .advert_image_div1 {
        grid-column: 1 / 2;
        width: 100%;
    }

    .advert_text_div1 {
        grid-column: 2 / 3;
    }

    .advert_text_div1 .home_type {
        text-align: left;
    }

    .advert_text_div1 .home_title {
        text-align: left;
    }

    .advert_text_div1 .home_description {
        text-align: left;
    }
}

@media (min-width: 700px) {
    .advert_text_div1 h3.home_title {
        font-size: 26pt;
    }
}

@media (min-width: 1200px) {
    .advert_box1 {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        width: calc(100% - (2*(var(--margin))));
        padding-left: 0px;
        padding-right: 0px;
    }

    .advert_image_div1 {
        grid-column: 2 / 3;
        width: 100%;
    }

    .advert_text_div1 {
        grid-column: 3 / 4;
    }
}

/*End advert new*/

/*Google Icons*/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48;
    display: inline;
}

/*Dropcap*/
.dropcap {
    color: var(--accent);
    float: left;
    font-family: Georgia;
    font-size: 70px;
    line-height: 65px;
    padding-right: 8px;
    margin-bottom: -6px;
}

/*End of a column*/
.row {
    margin-top: 35px;
}

@media screen and (max-width: 800px) {
    .row {
        margin-top: 0px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row_after:after {
    content: "";
    display: table;
    clear: both;
}

/*Homepage fonts*/
.home_image {
    width: 100%;
    margin-left: 0px;
}

.home_title {
    font-weight: 100;
    text-align: left;
    color: black;
    margin-bottom: .75em;
}

.home_title:hover {
    color: var(--accent);
}

.home_description {
    margin-top: -1%;
    text-align: left;
    color: grey;
    font-size: 85%;
    font-family: var(--accentfont);
}

.home_timestamp {
    margin-bottom: 2rem;
    text-align: left;
    color: grey;
    font-size: 70%;
    font-family: var(--accentfont);
}

.home_type {
    text-align: left;
    color: var(--accent);
    font-size: 70%;
    font-family: var(--accentfont);
    margin-bottom: -1.3em;
}

@media screen and (max-width: 800px) {
    .home_title {
        text-align: center;
    }

    .home_description {
        text-align: center;
    }

    .home_timestamp {
        text-align: center;
    }

    .home_type {
        text-align: center;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: var(--accent);
    text-decoration: underline;
}

.colour_link {
    text-decoration: none;
    border-bottom: 3px solid var(--linkblue);
    color: black;
}

.colour_link:hover {
    color: var(--linkblue);
}

.blog_div {
    width: 100%;
    margin-bottom: 35px;
}

.blog_main {
    left: 0%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1em;
    line-height: 1.4em;

}

@media screen and (max-width: 1100px) {
    .blog_main {
        left: 0%;
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media screen and (max-width: 800px) {
    .blog_main {
        left: 0%;
        margin-left: var(--margin);
        margin-right: var(--margin);
    }
}

@media screen and (max-width: 599px) {
    .blog_main p {
        font-size: smaller;
    }

    .blog_main p.blog_description {
        font-size: 100%;
    }

    .blog_main p.blog_meta_data {
        font-size: 70%;
    }
}

.blog_title {
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-weight: 100;
}

@media screen and (max-width: 800px) {
    .blog_title {
        text-align: center;
        margin-left: var(--margin);
        margin-right: var(--margin);
    }
}

.blog_description {
    text-align: center;
}

.blog_meta_data {
    font-size: 70%;
    margin-top: 35px;
    font-family: var(--accentfont);
    text-align: center;
}

.blog_type {
    color: var(--accent);
    font-size: 70%;
    margin-top: 35px;
    margin-bottom: -10px;
    font-family: var(--accentfont);
    text-align: center;
}

.blog_thumbnail {
    width: 100%;
}

.blog_image_float_left {
    float: left;
    width: calc(400px - 10px);
    margin-right: 20px;
    margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
    .blog_image_float_left {
        float: none;
        width: 100%;
    }
}

.page_description {
    text-align: center;
    font-family: var(--accentfont);
}


.chart_full_width {
    width: 100%;
}


.full_width_blue {
    width: 100%;
    background-color: var(--chartblue);
    text-align: center;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
}


.page_description_2 {
    margin-bottom: 2rem;
    text-align: center;
    color: grey;
    font-size: 70%;
    font-family: var(--accentfont);
}

.read_more {
    margin-bottom: 2rem;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.read_more h3 {
    margin-top: 1rem;
}

.read_more_border {
    margin-top: 2rem;
    border-top: 2px solid black;
}

.cookietable {
    font-family: var(--accentfont);
    font-size: 90%;
    padding: 10px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.cookietable,
.cookieth,
.cookietd {
    border: 2px solid white;
    border-collapse: collapse;
}

.cookieth,
.cookietd {
    text-align: left;
    background-color: var(--chartblue);
    padding: 10px;
}

.full_width_chart_mobile_1 {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .full_width_chart_mobile_1 {
        width: 200%;
    }
}

.full_width_chart_container_mobile {
    width: 100%;
    overflow-x: auto;
}

.page_title {
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.full_width_chart_mobile {
    display: none;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .full_width_chart_mobile {
        display: inline;
    }
}

.full_width_chart_desktop {
    width: 100%;
    display: inline;
}

@media screen and (max-width: 600px) {
    .full_width_chart_desktop {
        display: none;
    }
}

.ticker_div {
    height: 43px;
    overflow-y: hidden;
    border-bottom: 2px solid #E0E3EB;
}

/*Header*/
header {
    width: 100%;
    overflow: hidden;
}

.header_top {
    background-color: var(--darkpurple);
}

.header_bottom {
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: var(--accentfont);
    border-bottom: 2px solid var(--bordercolor);
    background-color: var(--accent);
}

.header_bottom_text {
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
    line-height: 1.5em;
}

.header_content {
    margin: 0 auto !important;
    padding: 20px var(--margin);
    max-width: var(--maxwidth);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.header_logo {
    display: block;
    height: var(--header-logo-height);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

.header_right {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}

.header_menu_btn {
    height: 24px;
    width: 24px;
    margin: auto;
}

.menu_button {
    float: right;
    border: none;
    padding: 0px;
    background-color: var(--darkpurple);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}

#menu_close_btn {
    display: none;
}

#menu {
    display: none;
}

.header_bottom_text {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 1.5em;
}

.header_text_disappear {
    display: inline;
}

@media screen and (max-width: 420px) {
    .header_text_disappear {
        display: none;
    }
}

.header_text_appear {
    display: none;
}

@media screen and (max-width: 420px) {
    .header_text_appear {
        display: inline;
    }
}

/*Cookie bar*/
.cookiebar {
    background-color: var(--darkgrey);
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.cookiebar p {
    margin: 0 var(--margin);
    padding: 3px 0px;
    color: var(--backgroundgrey);
    font-size: 12px;
    font-family: Roboto;
    text-align: center;
}

.cookiebar a {
    color: var(--backgroundgrey);
}

/*Header End*/

/*Footer*/
footer {
    padding-left: var(--margin);
    padding-right: var(--margin);
    padding-top: 15px;
    bottom: 0px;
    width: calc(100% - (2 * (var(--margin))));
    background-color: var(--darkgrey);
    color: white;
    font-family: var(--accentfont);
    text-align: center;
    line-height: 1.5;
    color: var(--backgroundgrey);
}

footer a {
    text-decoration: none;
    color: var(--backgroundgrey);
}

footer a:hover {
    text-decoration: underline;
}

.legal {
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-left: calc(0 - (var(--margin)));
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    color: grey;
    font-size: 80%;
}

@media screen and (max-width: 450px) {
    .legal {
        display: none;
    }
}

.legal2 {
    padding-top: 10px;
    display: none;
}

@media screen and (max-width: 450px) {
    .legal2 {
        display: block;
        text-align: center;
    }
}

.ft_ul {
    list-style: none;
    padding-left: 0;
    font-size: 85%;
}

.ft_title {
    margin-bottom: -.5em;
    font-weight: bold;
}

/*Footer End*/

.home_read_more_link {
    text-align: center;
    font-family: var(--accentfont);
    text-decoration: underline;
    color: black;
    margin: calc((-1 * var(--margin)) + 20px) 0px calc((var(--margin)) + 20px);
}

/*Search page*/

.searchBtn {
    float: right;
}

#navbar_search_bar {
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: var(--margin);
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 26px);
    outline: none;
    border-radius: 3px;
}

#navbar_search_bar:focus {
    background-color: var(--chartblue);
}

#returned_search_results_count {
    display: none;
    text-align: left;
    color: grey;
    font-size: 70%;
    font-family: var(--accentfont);
}

/*Chart elements*/

.chart_js_chart_container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}

.chart_key_explain {
    font-family: var(--accentfont);
    color: #595959;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: -0.5em;
    line-height: 1.2rem;
}

.chart_source {
    font-family: var(--accentfont);
    color: #595959;
    text-align: left;
    font-size: 1.3rem;
    margin-top: 1em;
}

.chart_thomaslarnercouk {
    color: #595959;
    text-align: right;
    font-size: 1.3rem;
    margin-top: 0px;
}

.chart_title {
    font-family: var(--accentfont);
    color: black;
    text-align: left;
    font-size: 2.7rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.chart_subtitle {
    font-family: var(--accentfont);
    color: #595959;
    text-align: left;
    font-size: 1.8rem;
    margin-top: 0px;
}

@media screen and (max-width: 599px) {
    .chart_key_explain {
        font-size: 0.9rem !important;
    }

    .chart_source {
        font-size: 1rem !important;
    }

    .chart_thomaslarnercouk {
        font-size: 1rem !important;
    }

    .chart_title {
        font-size: 1.7rem !important;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .chart_subtitle {
        font-size: 1.2rem !important;
        line-height: 1.5rem;
    }
}

.blog_sub_heading {
    font-weight: bold;
}

.four_o_four_links {
    margin-bottom: 2rem;
    text-align: center;
    color: grey;
    font-size: 70%;
    font-family: var(--accentfont);
}

.four_o_four_links .colour_link {
    text-decoration: none;
    border-bottom: 3px solid var(--linkblue);
    color: grey;
}

.four_o_four_links .colour_link:hover {
    color: var(--linkblue);
}

.full_width_grey {
    width: 100%;
    background-color: var(--backgroundgrey);
    text-align: center;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
}